In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from src.utils.helpers_sentiment_analysis import *

In [2]:
df_plot = pd.read_csv('data/MovieSummaries/movies_metadata_cleaned.csv')
df_plot = df_plot[df_plot['Decade'].notna()]
df_plot = df_plot[df_plot['Grouped_genres'] != '[nan]']
df_10 = df_plot.head(10)
df_10

,Unnamed: 0.1,Unnamed: 0,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Movie_release_date,Movie_box_office_revenue,Movie_runtime,Movie_languages,Movie_countries,Movie_genres,Decade,Movie_continent,Grouped_genres,Plot_summary
0,0,0,975900,/m/03vyhn,Ghosts of Mars,2001.0,14010832.0,98.0,['English Language'],['United States of America'],"['Thriller', 'Science Fiction', 'Horror', 'Adv...",2000.0,North America,"['Horror', 'Thriller', 'Science Fiction', 'War...",Set second half 22nd century film depicts Mars...
1,1,3,9363483,/m/0285_cd,White Of The Eye,1987.0,NaN,110.0,['English Language'],['United Kingdom'],"['Thriller', 'Erotic thriller', 'Psychological...",1980.0,Europe,['Thriller'],series murders rich young women throughout Ari...
2,2,4,261236,/m/01mrr1,A Woman in Flames,1983.0,NaN,106.0,['German Language'],['Germany'],['Drama'],1980.0,Europe,['Drama'],Eva upper class housewife becomes frustrated l...
3,3,6,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002.0,NaN,86.0,['English Language'],['South Africa'],"['Family Film', 'Fantasy', 'Adventure', 'World...",2000.0,Africa,"['Fantasy', 'Family', 'World', 'Action/Adventu...",Every hundred years evil Morgana returns claim...
4,4,12,6631279,/m/0gffwj,Little city,1997.0,NaN,93.0,['English Language'],['United States of America'],"['Romantic comedy', 'Ensemble Film', 'Comedy-d...",1990.0,North America,"['Comedy', 'Drama', 'Ensemble Film', 'Romance']",Adam San Franciscobased artist works cab drive...
5,5,13,171005,/m/016ywb,Henry V,1989.0,10161099.0,137.0,['English Language'],['United Kingdom'],"['Costume drama', 'War film', 'Epic', 'Period ...",1980.0,Europe,"['Drama', 'Period', 'War', 'Film adaptation', ...",PlotdateAct 1Act 2Act 3Act 4Act 5 Finally nego...
6,6,14,18296435,/m/04cqrs4,Aaah Belinda,1986.0,NaN,NaN,['Turkish Language'],['Turkey'],['Comedy'],1980.0,Asia,['Comedy'],Serap young actress strong lively personality ...
8,8,17,77856,/m/0kcn7,Mary Poppins,1964.0,102272727.0,139.0,['English Language'],['United States of America'],"[""Children's/Family"", 'Musical', 'Fantasy', 'C...",1960.0,North America,"['Children', 'Drama', 'Comedy', 'Fantasy', 'Fa...",film opens Mary Poppins perched cloud high Lon...
10,10,22,21926710,/m/05p45cv,White on Rice,2009.0,NaN,82.0,[],['United States of America'],"['Romantic comedy', 'Romance Film', 'Comedy', ...",2000.0,North America,"['Comedy', 'Indie', 'Romance']",Jimmy Hiroshi Watanabe loves dinosaurs sleeps ...
11,11,27,20604092,/m/0523t_1,Anbu Thozhi,2007.0,NaN,NaN,['Tamil Language'],['India'],['Romance Film'],2000.0,Asia,['Romance'],film opens simpleton small village Tamil Nadu ...

In [3]:
df_10 = df_10.copy()

# Apply the preprocess function
df_10.loc[:, 'Plot_summary'] = df_10['Plot_summary'].apply(preprocess_text)

# NLTK Sentiment Analysis
df_10.loc[:, 'NLTK_Sentiment'] = df_10['Plot_summary'].apply(get_nltk_sentiment)

# TextBlob Sentiment Analysis
df_10.loc[:, 'TB_Sentiment'] = df_10['Plot_summary'].apply(get_textblob_sentiment)

# VADER Sentiment Analysis
df_10.loc[:, 'VADER_Sentiment'] = df_10['Plot_summary'].apply(get_vader_sentiment)

# Emotion Analysis using NRC Lexicon
df_10.loc[:, 'Emotions'] = df_10['Plot_summary'].apply(extract_emotions)

# Classify Sentiment from Emotions
df_10.loc[:, 'Emotions_Sentiment'] = df_10['Emotions'].apply(classify_sentiment_from_emotions)

# Huggingface Sentiment Analysis
# batch_results = huggingface_sentiment_analysis(df_10['Plot_summary'].tolist())
# df_10.loc[:, 'HFT_Sentiment_Result'] = batch_results
# df_10.loc[:, 'HFT_Sentiment'] = df_10['HFT_Sentiment_Result'].apply(lambda x: x['label'])
# df_10.loc[:, 'HFT_Score'] = df_10['HFT_Sentiment_Result'].apply(lambda x: x['score'])
# df_10[['Plot_summary', 'NLTK_Sentiment', 'TB_Sentiment', 'VADER_Sentiment', 'Emotions_Sentiment', 'HFT_Sentiment', 'HFT_Score']]


df_10[['Plot_summary', 'NLTK_Sentiment', 'TB_Sentiment', 'VADER_Sentiment', 'Emotions_Sentiment']]

,Plot_summary,NLTK_Sentiment,TB_Sentiment,VADER_Sentiment,Emotions_Sentiment
0,set second half 22nd century film depicts mar ...,1,-0.075099,-0.9880,NEGATIVE
1,series murder rich young woman throughout ariz...,1,0.039072,-0.9975,NEGATIVE
2,eva upper class housewife becomes frustrated l...,1,0.152296,0.9716,POSITIVE
3,every hundred year evil morgana return claim f...,1,-0.036790,-0.8807,POSITIVE
4,adam san franciscobased artist work cab driver...,1,0.162716,0.7351,POSITIVE
5,plotdateact 1act 2act 3act 4act 5 finally nego...,1,-0.007143,0.3182,POSITIVE
6,serap young actress strong lively personality ...,1,0.006017,-0.6908,NEGATIVE
8,film open mary poppins perched cloud high lond...,1,0.122749,0.9910,POSITIVE
10,jimmy hiroshi watanabe love dinosaur sleep top...,1,0.423003,0.9643,POSITIVE
11,film open simpleton small village tamil nadu w...,1,0.270588,0.9861,POSITIVE