# Preprocessing the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import string
import nltk

## Load the dataset

We want to process the movie summaries to analyze them.

In [2]:
data_folder = '../../data/MovieSummaries'
df_plot = pd.read_csv(data_folder + '/plot_summaries.txt', sep="\t", header=None)
df_plot.columns = ["Movie ID", "Plot summary"]

df_plot[['Movie ID', 'Plot summary']]

       Movie ID                                       Plot summary
0      23890098  Shlykov, a hard-working taxi driver and Lyosha...
1      31186339  The nation of Panem consists of a wealthy Capi...
2      20663735  Poovalli Induchoodan  is sentenced for six yea...
3       2231378  The Lemon Drop Kid , a New York City swindler,...
4        595909  Seventh-day Adventist Church pastor Michael Ch...
...         ...                                                ...
42298  34808485  The story is about Reema , a young Muslim scho...
42299   1096473  In 1928 Hollywood, director Leo Andreyev  look...
42300  35102018  American Luthier focuses on Randy Parsons’ tra...
42301   8628195  Abdur Rehman Khan , a middle-aged dry fruit se...
42302   6040782  1940 - Operation Dynamo has just taken place. ...

[42303 rows x 2 columns]

We are preprocessing the data of the movie summaries using the following steps:
1. Remove all punctuations
2. Put all characters of the text in lower case
3. Remove stop words
4. Use stemming or lemmatization

In [3]:
# Remove punctuation and transform all char in lower case
df_plot["Plot summary"] = df_plot["Plot summary"].apply(lambda x: x.translate(str.maketrans("", "", string.punctuation)).lower())
df_plot[['Plot summary']]

                                            Plot summary
0      shlykov a hardworking taxi driver and lyosha a...
1      the nation of panem consists of a wealthy capi...
2      poovalli induchoodan  is sentenced for six yea...
3      the lemon drop kid  a new york city swindler i...
4      seventhday adventist church pastor michael cha...
...                                                  ...
42298  the story is about reema  a young muslim schoo...
42299  in 1928 hollywood director leo andreyev  looks...
42300  american luthier focuses on randy parsons’ tra...
42301  abdur rehman khan  a middleaged dry fruit sell...
42302  1940  operation dynamo has just taken place fr...

[42303 rows x 1 columns]

In [4]:
# Remove stop words
from nltk.corpus import stopwords

# Use the nltk package to load english stop words
# If package not usable, create manually a list of stop words to remove
stop_words = set(stopwords.words('english'))
# print(stop_words)

df_plot["Plot summary"] = df_plot["Plot summary"].apply(lambda x: ' '.join([word for word in x.split() if word.lower() not in stop_words]))
df_plot[['Plot summary']]

{'further', 'm', 'any', 'under', 'for', "hadn't", "you'll", 'an', "don't", 's', 'd', 'were', 'did', 'have', 'he', 'not', 'why', "won't", 'over', 'yours', 'herself', 'at', "should've", 'own', 'll', 'doing', 'other', 'aren', 'shan', 'she', 'shouldn', 'as', 'during', 'his', 'down', 'it', 'and', 'isn', 'hasn', 'who', 'wasn', 'won', 'below', 'now', 'am', 'themselves', 'each', "aren't", 'only', 'will', 'are', "you've", 're', 'that', 'its', 'both', 'haven', 'had', 'whom', 'off', "shan't", 'after', 'so', 'in', 'itself', 'don', 'such', 'there', "mightn't", 'same', 'hers', 'again', 'ain', 'those', 'ourselves', 'where', 'then', 'by', 'from', "doesn't", "needn't", 'some', 'i', 't', 'mightn', 'above', "mustn't", 'how', 'if', 'the', 'more', 'than', 'doesn', 'with', 'very', 'here', 'ma', 've', 'hadn', "haven't", "weren't", 'of', 'nor', "wasn't", 'mustn', 'our', 'is', "isn't", 'a', "hasn't", "you're", 'was', 'my', 'before', 'to', 'they', 'ours', 'this', 'between', 'do', 'can', "it's", 'didn', 'against', "shouldn't", 'should', 'being', 'few', 'what', 'be', 'which', 'we', 'does', "couldn't", 'your', 'them', 'through', 'all', "you'd", 'until', 'just', 'but', 'me', 'out', 'needn', 'most', 'when', 'has', 'o', 'himself', 'theirs', 'no', 'yourselves', 'wouldn', 'weren', "wouldn't", 'once', 'y', 'been', 'too', 'yourself', 'couldn', 'about', 'him', 'up', "that'll", 'you', 'her', 'on', 'myself', 'or', 'because', 'these', 'while', 'into', "didn't", 'their', 'having', "she's"}

                                            Plot summary
0      shlykov hardworking taxi driver lyosha saxopho...
1      nation panem consists wealthy capitol twelve p...
2      poovalli induchoodan sentenced six years priso...
3      lemon drop kid new york city swindler illegall...
4      seventhday adventist church pastor michael cha...
...                                                  ...
42298  story reema young muslim schoolgirl malabar lo...
42299  1928 hollywood director leo andreyev looks pho...
42300  american luthier focuses randy parsons’ transf...
42301  abdur rehman khan middleaged dry fruit seller ...
42302  1940 operation dynamo taken place newly conque...

[42303 rows x 1 columns]